@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.Maintain_head {
    font-family: "Baskerville Old Face";
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.question_blogs_1 {
    border-style: solid;
    background-image: url("https://img.freepik.com/free-vector/dark-black-background-design-with-stripes_1017-38064.jpg?size=626&ext=jpg&ga=GA1.1.1024061369.1661067786&semt=ais");
    background-size: cover;
    height: 100vh;
}

.logo_settings {
    height: 50px;
    width: 50px;
    border-radius: 20px;
}

.trending_blogs_1 {
    border-style: solid;
    background-image: url("https://images.pexels.com/photos/3780104/pexels-photo-3780104.png");
    background-size: cover;
    height: 100vh;
}

.nav_text {
    font-family: "Monoton";
    font-size: 15px;
    color: #ffffff;
}

.home_head {
    font-family: "Baskerville Old Face";
    color: #ffffff;
}

.home_para {
    font-family: "Gill Sans Nova Light";
    color: #ffffff;
    font-size: 18px;
}

.trending_blogs {
    border-style: solid;
    background-image: url("https://images.pexels.com/photos/3780104/pexels-photo-3780104.png");
    background-size: cover;
}

.section-heading {
    font-family: "Baskerville Old Face";
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    padding: 5px;
}

.trending-con {
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    border-color: white;
    background-color: #ffffff;
}

.image-set {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.con-head {
    font-family: "Baskerville Old Face";
    font-size: 15px;
    font-weight: bold;
    color: #959ead;
}

.con-para {
    font-family: "Gill Sans Nova Light";
    font-size: 16px;
    color: #1f2933;
    font-weight: 700;
}

.link-set {
    font-family: "Monoton";
    font-size: 11px;
    font-weight: bold;
    color: #1754a1;
}

.section-button {
    font-family: "Segoe Print";
    font-size: 15px;
    background-color: transparent;
    color: white;
    font-weight: 300;
    border-radius: 5px;
    border-width: 1px;
    border-color: #ffffff;
}

.modal-head {
    font-family: "Baskerville Old Face";
    font-size: 16px;
    color: #183b56;
}

.modal-para {
    font-family: "Gill Sans Nova Light";
    font-size: 11px;
    color: #323f4b;
}

.span-set {
    font-family: "Baskerville Old Face";
    font-size: 11px;
    color: #183b56;
    font-weight: bold;
}

.search_button {
    font-family: "Segoe Print";
    font-size: 15px;
    background-color: transparent;
    color: white;
    font-weight: 300;
    border-radius: 5px;
    border-width: 1px;
    border-color: #ffffff;
}

.section-heading {
    font-family: "Baskerville Old Face";
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    padding: 5px;
}

.section-head {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    color: #183b56;
}

.Python_level_1_con {
    background-color: black;
    background-size: cover;
    border-color: #ffffff;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    height: 250px;

}

.Python_level_2_con {
    background-color: black;
    background-size: cover;
    border-color: #ffffff;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    height: 250px;

}

.Python_level_3_con {
    background-color: black;
    background-image: url("");
    background-size: cover;
    width: 100%;
    border-color: #ffffff;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    height: 250px;

}

.Python_head {
    font-family: "Baskerville Old Face";
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

.Python_para {
    font-family: "Gill Sans Nova Light";
    font-size: 12px;
    color: #ffffff;
}

.modal-button {
    font-family: "Segoe Print";
    font-size: 15px;
    background-color: transparent;
    color: black;
    font-weight: 300;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

.home_adjust {
    margin-top: 1px;
}

/*FOLLOW US SECTION CSS PROPERTIES*/

.follow_image_set {
    width: 20%;
    border-radius: 55px;
}

.follow_icon_styling {
    background-color: #ffffff;
    color: black;
    font-size: 15px;
    padding: 12px;
    border-radius: 45px;
    margin: 2px;
}

.follow_address_para {
    font-family: "Gill Sans Nova Light";
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    padding: 5px;
}

.follow_head_set {
    font-family: "Baskerville Old Face";
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.follow_para_set {
    list-style-type: none;
    padding-left: 0px;
}

.follow_para_list {
    font-family: "Segoe Print";
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: 400;
}

.hr-line_1 {
    background-color: #ffffff;
    border-width: 3px;
}

.nav_button {
    background-color: transparent;
    border-width: 0px;
    text-align: left;
}

/***Question_Styling***/

.question_blogs {
    border-style: solid;
    background-image: url("https://img.freepik.com/free-vector/dark-black-background-design-with-stripes_1017-38064.jpg?size=626&ext=jpg&ga=GA1.1.1024061369.1661067786&semt=ais");
    background-size: cover;
}

.question_head {
    color: white;
    font-family: "Freestyle Script";
    font-size: 25px;
    padding-left: 25px;
    font-weight: 500;
}

.answer_div {
    border-radius: 5px;
    width: 100%;
    border-color: white;
    border-style: solid;
}

.span_set_question {
    font-family: "Baskerville Old Face";
    font-size: 16px;
    color: gold;
    font-weight: bold;
}